# yamllint disable
apiVersion: v1
kind: Secret
metadata:
    name: garage-webui
    annotations:
        reloader.stakater.com/match: "true"
type: Opaque
stringData:
    # generate with `htpasswd -nbBC 10 "YOUR_USERNAME" "YOUR_PASSWORD"`
    AUTH_USER_PASS: ""
