---
# yamllint disable
apiVersion: v1
kind: Secret
metadata:
  name: postgres-superuser
  namespace: database
  annotations:
    reloader.stakater.com/match: "true"
stringData:
  username: postgres
  password: ${DB_ROOT_PWD}
---
# yamllint disable
apiVersion: v1
kind: Secret
metadata:
  name: postgres-s3
  namespace: database
type: Opaque
stringData:
  S3_ACCESS_KEY: ${S3_ACCESS_KEY}
  S3_SECRET_KEY: ${S3_SECRET_KEY}
