# yamllint disable
apiVersion: v1
kind: Secret
metadata:
    name: miniflux-secret
    namespace: services
    annotations:
        reloader.stakater.com/match: "true"
type: Opaque
stringData:
    ADMIN_USERNAME: "${SECRET_ADMIN_USER}"
    ADMIN_PASSWORD: "${SECRET_DEFAULT_PWD}"
    POSTGRES_USER: "miniflux"
    POSTGRES_PASS: "${SECRET_DB_USER_PWD}"
    DATABASE_URL: "postgresql://miniflux:${SECRET_DB_USER_PWD}@miniflux-cnpgdb-rw.postgres.svc.cluster.local:5432/miniflux"
