# yamllint disable
apiVersion: v1
kind: Secret
metadata:
  name: miniflux
  namespace: default
  annotations:
    reloader.stakater.com/match: "true"
type: Opaque
stringData:
  ADMIN_USERNAME: "${ADMIN_USER}"
  ADMIN_PASSWORD: "${DEFAULT_PWD}"
