---
# yamllint disable
apiVersion: v1
kind: Secret
metadata:
  name: stackgres-secret
  namespace: stackgres
stringData:
  k8sUsername: admin
  password: ${SECRET_DEFAULT_PWD}
  # password="$(echo ${SECRET_DEFAULT_PWD} | sha256sum)"
  # clearPassword=${SECRET_DEFAULT_PWD}
