---
apiVersion: v1
kind: Secret
metadata:
  name: vaultwarden-user-secret
  namespace: vaultwarden
type: Opaque
stringData:
  password: ${SECRET_DB_USER_PWD}
  username: vaultwarden
---
apiVersion: v1
kind: Secret
metadata:
  name: vaultwarden-superuser-secret
  namespace: vaultwarden
type: Opaque
stringData:
  password: ${SECRET_DB_ROOT_PWD}
  username: postgres
