---
# yamllint disable
apiVersion: v1
kind: Secret
metadata:
  name: pgadmin-secret
  namespace: services
stringData:
  # email: ${SECRET_DEFAULT_EMAIL}
  password: ${SECRET_DEFAULT_PWD}
  servers: |-
    "1": {
      "Name": "cockroachdb",
      "Group": "Servers",
      "Port": "5432",
      "Username": "postgres",
      "Host": "cockroachdb-public.cockroach-operator-system.svc.cluster.local",
      "SSLMode": "prefer",
      "MaintenanceDB": "postgres"
    }
