# Add bootstrap-only resources here (optional, e.g., external secrets).
# If you add resources, ensure they are safe to apply before Flux reconciles.
---
apiVersion: v1
kind: Secret
metadata:
  name: onepassword-secret
  namespace: external-secrets
stringData:
  1password-credentials.json: op://homelab/external-secrets.onepassword/OP_CREDENTIALS_JSON
  token: op://homelab/external-secrets.onepassword/OP_CONNECT_TOKEN

---
#
# TODO: do I need this or can I proxy it by pointing to kubernetes/apps/external-secrets/onepassword/app/clusterexternalsecret.yaml?
#
apiVersion: external-secrets.io/v1
kind: ClusterExternalSecret
# The ClusterExternalSecret creates an ExternalSecret in each namespace
# that does not have the label "clustersecret.external-secrets.io/disable" set to "true".
# The ExternalSecret will sync the secret data from the external secret store
# into an actual Kubernetes Secret in the namespace.
metadata:
  name: &secretname "cluster-secrets"
spec:
  externalSecretName: *secretname
  namespaceSelectors:
  - matchExpressions:
      # Exclude namespaces with this label set to "true"
      - key: clustersecret.external-secrets.io/disable
        operator: NotIn
        values:
          - "true"
  externalSecretSpec:
    refreshInterval: 1h
    secretStoreRef:
      kind: ClusterSecretStore
      name: "onepassword"
    target:
      creationPolicy: Owner
      deletionPolicy: Retain
      name: *secretname
    dataFrom:
      - extract:
          # all available properties from the key will be synced
          key: "shared.cluster-secrets"

---
# TODO: add cloudflare credentials from kubernetes/apps/network/cloudflared/app/secret.sops.yaml
