---
# yamllint disable
apiVersion: v1
kind: Secret
metadata:
  name: cloudflare-token-secret
  namespace: cert-manager
  annotations:
    reloader.stakater.com/match: "true"
stringData:
  cloudflare-token: "${SECRET_CLOUDFLARE_TOKEN}"
