# yamllint disable
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: gitops-secret
  namespace: services
stringData:
  admin-user: admin
  # has with bcrypt: `gitops get bcrypt-hash`
    admin-password: ""
