---
# yamllint disable
apiVersion: v1
kind: Secret
metadata:
  name: vw2-secret
  namespace: vaultwarden
stringData:
  # secrets
  ADMIN_TOKEN: "${SECRET_VAULTWARDEN_TOKEN}"
  # DATABASE_URL: "postgresql://vaultwarden:${SECRET_DB_USER_PWD}@vaultwarden-db.vaultwarden.svc.cluster.local:5432/vaultwarden"
  SMTP_USERNAME: "${SECRET_SMTP_USER}"
  SMTP_PASSWORD: "${SECRET_SMTP_PWD}"
