# gitignore

# dot-directories, unless explicitly kept
.*/
!.claude/
!.github/
!.renovate/
!.taskfiles

# Editors
.vscode/
.monokle
*.profraw
CLAUDE.md

# Trash
.DS_Store
Thumbs.db

# secrets
kubeconfig
# *kubeconfig*
# *.agekey
# *.key
*.*key
*.pem
*.pgp
*.pub
.config.env
*credentials*
.decrypted~*
# .decrypted~*.yaml
.env
.envrc
cloudflare-tunnel.json

# terraform
.terraform/
*.tfstate*
*.lock.hcl
*.ova
# main.tf  # allowing because all secrets are in .envrc
govcvars.sh
modules/terraform-vsphere/

# ansible
.venv*
ansible/.facts_cache/
ansible/galaxy
ansible/tmp

# direnv
.direnv/*

# tasks
bootstrap/.latest-template.sha

# temp / working files & dirs
*.bak
*.iso
*.log
*.zip
**/*archive/
**/*wip/
.private/
.logs/
.task/
.temp*
.todo*
TODO.md
report/

# extras
**/*pytest*/
**/*cache*/

# ai
!.claude/block-k8s-ops.py
!.claude/settings.json
!.codex/rules/kubectl.rules
docs/superpowers


# retain files
!**.gitkeep
!**.gitignore
!*.sops.*
