# Editors
.vscode/
.monokle
*.profraw
# Trash
.DS_Store
Thumbs.db
*.iso
# k8s
*kubeconfig*
*key*
*.pem
*.pgp
*.pub
# vscode-sops
.decrypted~*.yaml
# env
.env
.envrc

# temp folders
*.bak
.temp*
.todo*
**/.archive/
**/.wip/
.private/
.logs/
.task/
report/

#extras
*pytest*
*cache*
# retain files
!**.gitkeep
!*.sops.*
