# Look for 'source'd files relative to the checked script
source-path=SCRIPTDIR

# Turn on warnings for unquoted variables with safe values
enable=quote-safe-variables

# disable error on zsh shebang
disable=SC1071
