# yamllint disable
apiVersion: v1
kind: Secret
metadata:
  name: picoshare
  namespace: default
  annotations:
    reloader.stakater.com/match: "true"
type: Opaque
stringData:
  PS_SHARED_SECRET: "${PICOSHARE_SECRET}"
