---
# yamllint disable
apiVersion: v1
metadata:
  name: tunnel-credentials
  namespace: networking
  annotations:
    reloader.stakater.com/match: "true"
kind: Secret
data:
  credentials.json: ${SECRET_CLOUDFLARE_TUNNEL_CREDS}
