---
# yamllint disable
apiVersion: v1
kind: Secret
metadata:
  name: postgres-podenv-secret
  namespace: postgres
stringData:
  ### https://github.com/zalando/postgres-operator/issues/858#issuecomment-608136253
  ### Any env var used by spilo can be added: https://github.com/zalando/spilo/blob/master/ENVIRONMENT.rst

  #-- user configuration -----------------------------------------------------
  # PGUSER_SUPERUSER: "postgres" # configured in operator.yaml
  PGPASSWORD_SUPERUSER: |
    "${SECRET_DB_ROOT_PWD}"
  # PGUSER_ADMIN: "admin"
  PGPASSWORD_ADMIN: |
    "${SECRET_DB_USER_PWD}"
  # PGUSER_STANDBY: "postgres" # configured in operator.yaml
  PGPASSWORD_STANDBY: |
    "${SECRET_DB_ROOT_PWD}"
  ALLOW_NOSSL: "true"

  #-- s3 configuration -------------------------------------------------------
  AWS_ACCESS_KEY_ID: |
    "${SECRET_S3_ACCESS_KEY}"
  AWS_SECRET_ACCESS_KEY: |
    "${SECRET_S3_SECRET_KEY}"
  ### temporarily disable
  #AWS_REGION: "us-east" # This value is ONLY used for the wal-g S3 streaming
  #AWS_ENDPOINT: "https://truenas.${SECRET_DOMAIN}:9001"
  # WALE_S3_ENDPOINT: "https://truenas.${SECRET_DOMAIN}:9001"

  USE_WALG_BACKUP: "false"
  USE_WALG_RESTORE: "true"
