---
ansible_become_pass: <sudo password>
ansible_host: <ip address>
ansible_user: <default user with SUDOERS permission>
ceph_drives:
    - /dev/disk/by-id/<disk id>
disk: nvme0n1
mac: <mac address>
network_interface: enp2s0
