---
# yamllint disable
apiVersion: v1
kind: Secret
metadata:
  name: wallabag-secret
  namespace: services
stringData:
  ### postgres
  # postgresql-postgres-password: ${SECRET_DB_ROOT_PWD}
  # postgresql-password: ${SECRET_DB_USER_PWD}
  # postgresql-replication-username: repl_user
  # postgresql-replication-password: ${SECRET_DB_ROOT_PWD}
  postgres-password: ${SECRET_DB_ROOT_PWD}
  password: ${SECRET_DB_USER_PWD}
  replication-username: repl_user
  replication-password: ${SECRET_DB_ROOT_PWD}

  ### redis
  # password: ${SECRET_DB_USER_PWD} # handled above

  ### wallabag
  SYMFONY__ENV__SECRET: ${SECRET_WALLABAG}
  SYMFONY__ENV__DOMAIN_NAME: https://wallabag.${SECRET_DOMAIN}
  # SYMFONY__ENV__SENTRY_DSN:
  SYMFONY__ENV__SERVER_NAME: wallabag
  SYMFONY__ENV__LOCALE: en
  SYMFONY__ENV__FOSUSER_REGISTRATION: "false"
  SYMFONY__ENV__FOSUSER_CONFIRMATION: "true"
  ### SYMFONY__ENV__FOS_OAUTH_SERVER_ACCESS_TOKEN_LIFETIME:
  ### SYMFONY__ENV__FOS_OAUTH_SERVER_REFRESH_TOKEN_LIFETIME:
  ### SYMFONY__ENV__RSS_LIMIT:
  ### SYMFONY__ENV__TWOFACTOR_AUTH:
  ### SYMFONY__ENV__TWOFACTOR_SENDER:

  SYMFONY__ENV__DATABASE_DRIVER: pdo_pgsql
  ### SYMFONY__ENV__DATABASE_DRIVER_CLASS: Wallabag\CoreBundle\Doctrine\DBAL\Driver\CustomPostgreSQLDriver
  SYMFONY__ENV__DATABASE_HOST: wallabag-postgresql  # wallabag-postgresql-0.services.svc.cluster.local
  SYMFONY__ENV__DATABASE_PORT: "5432"
  SYMFONY__ENV__DATABASE_NAME: wallabag
  SYMFONY__ENV__DATABASE_USER: wallabag
  SYMFONY__ENV__DATABASE_PASSWORD: ${SECRET_DB_USER_PWD}
  ### SYMFONY__ENV__DATABASE_PATH: null
  ### SYMFONY__ENV__DATABASE_TABLE_PREFIX:
  ### SYMFONY__ENV__DATABASE_SOCKET:
  ### SYMFONY__ENV__DATABASE_CHARSET:
  # POPULATE_DATABASE: true

  ### SYMFONY__ENV__REDIS_SCHEME:
  SYMFONY__ENV__REDIS_HOST: wallabag-redis-master  # wallabag-redis-master.services.svc.cluster.local
  # SYMFONY__ENV__REDIS_PORT: "6379"
  ### SYMFONY__ENV__REDIS_PATH:
  SYMFONY__ENV__REDIS_PASSWORD: ${SECRET_DB_USER_PWD}

  SYMFONY__ENV__MAILER_TRANSPORT: smtp
  SYMFONY__ENV__MAILER_USER: ${SECRET_SMTP_USER}
  SYMFONY__ENV__MAILER_PASSWORD: ${SECRET_SMTP_PWD}
  SYMFONY__ENV__MAILER_HOST: in-v3.mailjet.com
  SYMFONY__ENV__MAILER_PORT: "587"
  SYMFONY__ENV__MAILER_ENCRYPTION: ssl
  SYMFONY__ENV__MAILER_AUTH_MODE: login
  SYMFONY__ENV__FROM_EMAIL: ${SECRET_SMTP_ADDRESS}
