---
# yamllint disable
apiVersion: v1
kind: Secret
metadata:
  name: wallabag-secret
  namespace: services
stringData:
  ### wallabag
  SYMFONY__ENV__SECRET: ${SECRET_WALLABAG}

  ### email
  SYMFONY__ENV__MAILER_TRANSPORT: smtp
  SYMFONY__ENV__MAILER_USER: ${SECRET_SMTP_USER}
  SYMFONY__ENV__MAILER_PASSWORD: ${SECRET_SMTP_PWD}
  SYMFONY__ENV__MAILER_HOST: in-v3.mailjet.com
  SYMFONY__ENV__MAILER_PORT: "587"
  SYMFONY__ENV__MAILER_ENCRYPTION: ssl
  SYMFONY__ENV__MAILER_AUTH_MODE: login
  SYMFONY__ENV__FROM_EMAIL: ${SECRET_SMTP_ADDRESS}

  ### SYMFONY__ENV__REDIS_SCHEME:
  # SYMFONY__ENV__REDIS_HOST: wallabag-redis-master.services.svc.cluster.local
  # SYMFONY__ENV__REDIS_PORT: "6379"
  ### SYMFONY__ENV__REDIS_PATH:
  # SYMFONY__ENV__REDIS_PASSWORD: ${SECRET_DB_USER_PWD}
