---
apiVersion: v1
kind: Secret
metadata:
  name: <app>-user-secret
  namespace: <namespace>
type: Opaque
stringData:
  password: password
  username: app
---
apiVersion: v1
kind: Secret
metadata:
  name: <app>-superuser-secret
  namespace: <namespace>
type: Opaque
stringData:
  password: password
  username: postgres
