---
apiVersion: v1
kind: Secret
metadata:
  name: user-sqlscript-secret
  namespace: <namespace>
type: Opaque
stringData:
  create-stackgres-user.sql: |
    CREATE ROLE stackgres
    CREATEDB
    LOGIN
    WITH PASSWORD 'stackgres';
