---
# yamllint disable
apiVersion: v1
kind: Secret
metadata:
  name: hammond-secret
  namespace: services
  annotations:
    reloader.stakater.com/match: "true"
stringData:
  JWT_SECRET: ${SECRET_HAMMOND}
