---
apiVersion: v1
kind: Secret
metadata:
  name: s3-secret
  namespace: services
type: Opaque
stringData:
  ACCESS_KEY_ID: ${SECRET_S3_ACCESS_KEY}
  ACCESS_SECRET_KEY: ${SECRET_S3_SECRET_KEY}
  REGION: us-east
