---
apiVersion: v1
kind: Secret
metadata:
  name: wallabag-user-secret
  namespace: services
type: Opaque
stringData:
  password: ${SECRET_DB_USER_PWD}
  username: wallabag
---
apiVersion: v1
kind: Secret
metadata:
  name: wallabag-superuser-secret
  namespace: services
type: Opaque
stringData:
  password: ${SECRET_DB_ROOT_PWD}
  username: postgres
