---
# yamllint disable
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: grafana
  namespace: monitoring
  annotations:
    reloader.stakater.com/match: "true"
stringData:
  admin-user: ${SECRET_ADMIN_USER}
  admin-password: ${SECRET_DEFAULT_PWD}
