# yamllint disable
apiVersion: v1
kind: Secret
metadata:
    name: authentik-secret
    namespace: security
    annotations:
        reloader.stakater.com/match: "true"
type: Opaque
stringData:
  values.yaml: |
    authentik:
      secret_key: "${SECRET_AUTHENTIK_KEY}"
      postgresql:
        host: "authentik-cnpgdb-rw.postgres.svc.cluster.local"
        port: "5432"
        name: "authentik"
        user: "authentik"
        password: "${SECRET_DB_USER_PWD}"
      redis:
        host: "authentik-redis"
        # port: "6379"
        password: "${SECRET_DB_USER_PWD}"
      email:
        host: "${SECRET_SMTP_SRV}"
        port: "${SECRET_SMTP_PORT}"
        use_tls: "true"
        use_ssl: "false"
        username: "${SECRET_SMTP_USER}"
        password: "${SECRET_SMTP_PWD}"
        from: "${SECRET_SMTP_ADDRESS}"
    geoip:
      accountId: "${SECRET_MAXMIND_ACCOUNT_ID}"
      licenseKey: "${SECRET_MAXMIND_LICENSE_KEY}"
