# yamllint disable
apiVersion: v1
kind: Secret
metadata:
    name: authentik-secret
    namespace: security
    annotations:
        reloader.stakater.com/match: "true"
type: Opaque
stringData:
  AUTHENTIK_SECRET_KEY: "${SECRET_AUTHENTIK_KEY}"
  ### DB config
  # AUTHENTIK_POSTGRESQL__HOST: "authentik-cnpgdb-all"
  AUTHENTIK_POSTGRESQL__NAME: "authentik"
  AUTHENTIK_POSTGRESQL__USER: "authentik"
  # AUTHENTIK_POSTGRESQL__PORT: "5432"
  AUTHENTIK_POSTGRESQL__PASSWORD: "${SECRET_DB_USER_PWD}"
  # POSTGRES_PASSWORD: "${SECRET_DB_USER_PWD}"
  # AUTHENTIK_REDIS__HOST: "authentik-redis"
  # AUTHENTIK_REDIS__PORT: "6379"
  AUTHENTIK_REDIS__PASSWORD: "${SECRET_DB_USER_PWD}"
  ### email config
  AUTHENTIK_EMAIL__HOST: "${SECRET_SMTP_SRV}"
  AUTHENTIK_EMAIL__PORT: "${SECRET_SMTP_PORT}"
  AUTHENTIK_EMAIL__USE_TLS: "true"
  AUTHENTIK_EMAIL__USE_SSL: "false"
  AUTHENTIK_EMAIL__USERNAME: "${SECRET_SMTP_USER}"
  AUTHENTIK_EMAIL__PASSWORD: "${SECRET_SMTP_PWD}"
  AUTHENTIK_EMAIL__FROM: "${SECRET_SMTP_ADDRESS}"
  # ### GeoIP config - required in values
  # GEOIPUPDATE_ACCOUNT_ID: "${SECRET_MAXMIND_ACCOUNT_ID}"
  # GEOIPUPDATE_LICENSE_KEY: "${SECRET_MAXMIND_LICENSE_KEY}"
