# yamllint disable
kind: Secret
apiVersion: v1
type: Opaque
metadata:
  name: linkding
  namespace: default
  annotations:
    reloader.stakater.com/match: "true"
stringData:
  LD_SUPERUSER_NAME: ${ADMIN_USER}
  LD_SUPERUSER_PASSWORD: ${DEFAULT_PWD}
