# yamllint disable
apiVersion: v1
kind: Secret
metadata:
    name: karakeep
    annotations:
        reloader.stakater.com/match: "true"
type: Opaque
stringData:
    NEXTAUTH_SECRET: "${KARAKEEP_ENCRYPTION_KEY}"
    MEILI_MASTER_KEY: "${KARAKEEP_MELISEARCH_KEY}"
    OPENAI_API_KEY: "${KARAKEEP_OPENAI_API_KEY}"
    INFERENCE_TEXT_MODEL: gpt-4o-mini
    EMBEDDING_TEXT_MODEL: text-embedding-3-small
    INFERENCE_CONTEXT_LENGTH: "8192"
