# yamllint disable
apiVersion: v1
kind: Secret
metadata:
    name: karakeep
    annotations:
        reloader.stakater.com/match: "true"
type: Opaque
stringData:
    NEXTAUTH_SECRET: "${KARAKEEP_ENCRYPTION_KEY}"
    MEILI_MASTER_KEY: "${KARAKEEP_MELISEARCH_KEY}"
    OPENAI_API_KEY: "${KARAKEEP_OPENAI_API_KEY}"
