---
# yamllint disable
apiVersion: v1
kind: Secret
metadata:
  name: secret-traefik-basicauth
  namespace: networking
  annotations:
    reloader.stakater.com/match: "true"
data:
  users: |
    ${SECRET_TRAEFIK_BASICAUTH}
