---
apiVersion: v1
kind: Secret
metadata:
  # use secret_template format: "{cluster-name}.pguser.{username}"
  name: example-cluster.pguser.postgres
  namespace: postgres
type: Opaque
stringData:
  password: >-
    "${SECRET_DB_ROOT_PWD}"
  verifier: ""
