---
apiVersion: v1
kind: Secret
metadata:
    name: authelia
    namespace: security
stringData:
    AUTHELIA_LDAP_USER_PASS: ""
    AUTHELIA_RESET_PASSWORD_JWT_SECRET: ""
    AUTHELIA_SESSION_SECRET: ""
    AUTHELIA_STORAGE_ENCRYPTION_KEY: ""
    AUTHELIA_LDAP_BASE_DN: ""
    AUTHELIA_LDAP_ADMIN_PASSWORD: ""
    # notification smtp settings
    SMTP_ADDRESS: ""
    SMTP_USERNAME: "${FASTMAIL_USERNAME}"
    SMTP_PASSWORD: "${FASTMAIL_APP_PASSWORD}"
    SMTP_SENDER: "Authelia <noreply@${SECRET_DOMAIN}>"
    # oidc
    AUTHELIA_OIDC_HMAC_SECRET: "${AUTHELIA_OIDC_HMAC_SECRET}"
    AUTHELIA_OIDC_PRIVATE_KEY: |
      # -----BEGIN ... -----
      # ...
      # -----END ... -----
    # client secrets
    GRAFANA_OAUTH_CLIENT_SECRET: ""
    KARAKEEP_OAUTH_CLIENT_SECRET: ""
    MEALIE_OAUTH_CLIENT_SECRET: ""
    MEMOS_OAUTH_CLIENT_SECRET: ""
    MINIFLUX_OAUTH_CLIENT_SECRET: ""
    WHOAMI_OAUTH_CLIENT_SECRET: ""
