# yamllint disable
apiVersion: v1
kind: Secret
metadata:
    name: github-webhook-token
    namespace: flux-system
    annotations:
        reloader.stakater.com/match: "true"
type: Opaque
stringData:
    token: "${GH_WEBHOOK_TOKEN}"
