---
# yamllint disable
apiVersion: v1
kind: Secret
metadata:
    name: actions-runner-controller-secret
    namespace: actions-runner-system
    annotations:
        reloader.stakater.com/match: "true"
type: Opaque
stringData:
  github_app_id: "${SECRET_GH_APP_ID}"
  github_app_installation_id: "${SECRET_GH_APP_INSTALLATION_ID}"
  github_app_private_key: |
    ${SECRET_GH_APP_PRIVATE_KEY}

---
# yamllint disable
apiVersion: v1
kind: Secret
metadata:
    name: actions-runner-webhook-secret
    namespace: actions-runner-system
    annotations:
        reloader.stakater.com/match: "true"
type: Opaque
stringData:
  github_webhook_secret_token: "${SECRET_GH_WEBHOOK_SECRET_TOKEN}"
