---
# yamllint disable
apiVersion: v1
kind: ConfigMap
metadata:
  name: cluster-settings
  namespace: flux-system
  annotations:
    reloader.stakater.com/match: "true"
data:
  TIMEZONE: "${TIMEZONE}"
  LB_GATEWAY: ${LB_GATEWAY}
  LB_INGRESS: ${LB_INGRESS}
  LB_AUTH: ${LB_AUTH}
  LB_DEFAULT_RANGE: ${LB_DEFAULT_RANGE}
