---
# yamllint disable
apiVersion: v1
kind: Secret
metadata:
  name: cluster-secrets
  namespace: flux-system
stringData:
  # defaults
  SECRET_DOMAIN: ${SECRET_DOMAIN}
  SECRET_DEFAULT_USER: ${SECRET_DEFAULT_USER}
  SECRET_DEFAULT_EMAIL: ${SECRET_DEFAULT_EMAIL}
  SECRET_DEFAULT_PWD: ${SECRET_DEFAULT_PASSWORD}
  # email notifications
  SECRET_SMTP_ADDRESS: ${SECRET_SMTP_ADDRESS}
  SECRET_SMTP_USER: ${SECRET_SMTP_USER}
  SECRET_SMTP_PWD: ${SECRET_SMTP_PWD}
  # cert-manager
  SECRET_CLOUDFLARE_EMAIL: ${SECRET_CLOUDFLARE_EMAIL}
  SECRET_CLOUDFLARE_TOKEN: ${SECRET_CLOUDFLARE_TOKEN}
  # maxmind
  SECRET_MAXMIND_ACCOUNT_ID: ${SECRET_MAXMIND_ACCOUNT_ID}
  SECRET_MAXMIND_LICENSE_KEY: ${SECRET_MAXMIND_LICENSE_KEY}
  # democratic-csi
  SECRET_TRUENAS_APIKEY: ${SECRET_TRUENAS_APIKEY}
  SECRET_TRUENAS_IP: ${SECRET_TRUENAS_IP}
  SECRET_TRUENAS_USER: ${SECRET_TRUENAS_USER}
  # # db (generic)
  # SECRET_DB_ROOT_PWD: ${SECRET_DB_ROOT_PWD}
  # SECRET_DB_USER_PWD: ${SECRET_DB_USER_PWD}
