---
apiVersion: v1
kind: Secret
metadata:
  name: opengist-restic
  namespace: default
type: Opaque
stringData:
  # The repository url; add trailing folders if multiple PVCs per app (one per PVC)
  RESTIC_REPOSITORY: s3:https://${S3_ENDPOINT}/restic-opengist
  # The repository encryption key
  RESTIC_PASSWORD: ${DEFAULT_PWD}
  # ENV vars specific to the chosen back end
  # https://restic.readthedocs.io/en/stable/030_preparing_a_new_repo.html
  AWS_ACCESS_KEY_ID: ${S3_ACCESS_KEY}
  AWS_SECRET_ACCESS_KEY: ${S3_SECRET_KEY}
