---
apiVersion: v1
kind: Secret
metadata:
  name: cluster-secret
  namespace: vaultwarden
type: Opaque
stringData:
  s3.conf: |
    [global]
    repo1-s3-key="${SECRET_S3_ACCESS_KEY}"
    repo1-s3-key-secret="${SECRET_S3_SECRET_KEY}"

  pgbackrest-secrets.conf: |
    [global]
    repo1-cipher-pass=${SECRET_DB_ENCRYPTION}
