---
apiVersion: v1
kind: Secret
metadata:
  # use secret_template format: "{cluster-name}-pguser-{username}"
  name: vaultwarden-db-pguser-postgres
  namespace: vaultwarden
type: Opaque
stringData:
  user: postgres
  password: >-
    ${SECRET_DB_ROOT_PWD}
  verifier: ""
---
apiVersion: v1
kind: Secret
metadata:
  # use secret_template format: "{cluster-name}-pguser-{username}"
  name: vaultwarden-db-pguser-vaultwarden
  namespace: vaultwarden
type: Opaque
stringData:
  user: vaultwarden
  password: >-
    ${SECRET_DB_USER_PWD}
  verifier: ""
