# yamllint disable
apiVersion: v1
kind: Secret
metadata:
    name: nut-exporter
    namespace: monitoring
    annotations:
        reloader.stakater.com/match: "true"
stringData:
    NUT_EXPORTER_SERVER: "10.2.0.1"
    NUT_EXPORTER_WEB_AUTH_USERNAME: "monuser"
    NUT_EXPORTER_PASSWORD: "${SECRET_DEFAULT_PWD}"
