---
# yamllint disable
apiVersion: v1
kind: Secret
metadata:
  name: kopia-sync
  namespace: system
  annotations:
    reloader.stakater.com/match: "true"
type: Opaque
stringData:
  repository.config: |
    {
        "storage": {
            "type": "s3",
            "config": {
                "bucket": "ninerealmlabs-kopia",
                "endpoint": "s3.us-west-002.backblazeb2.com",
                "accessKeyID": "${SECRET_B2_KOPIA_ID}",
                "secretAccessKey": "${SECRET_B2_KOPIA_KEY}",
                "sessionToken": ""
            }
        },
        "caching": {
            "cacheDirectory": "cache",
            "maxCacheSize": 5242880000,
            "maxMetadataCacheSize": 5242880000,
            "maxListCacheDuration": 30
        },
        "hostname": "cluster",
        "username": "root",
        "description": "s3.us-west-002.backblazeb2.com/ninerealmlabs-kopia",
        "enableActions": false,
        "formatBlobCacheDuration": 900000000000
    }
