---
# yamllint disable
apiVersion: v1
kind: Secret
metadata:
  name: cloudflare-api
  namespace: cert-manager
  annotations:
    reloader.stakater.com/match: "true"
stringData:
  CF_API_TOKEN: "${CLOUDFLARE_TOKEN}"
