---
# yamllint disable
apiVersion: v1
kind: Secret
metadata:
  name: shiori-secret
  namespace: services
  annotations:
    reloader.stakater.com/match: "true"
stringData:
  SHIORI_DBMS: postgresql
  SHIORI_PG_HOST: shiori-cnpgdb-rw.postgres.svc.cluster.local
  SHIORI_PG_PORT: "5432"
  SHIORI_PG_NAME: shiori
  SHIORI_PG_USER: shiori
  SHIORI_PG_PASS: ${SECRET_DB_USER_PWD}
