# yamllint disable
apiVersion: v1
kind: Secret
metadata:
    name: archivebox
    namespace: default
    annotations:
        reloader.stakater.com/match: "true"
type: Opaque
stringData:
  ADMIN_USERNAME: "${ADMIN_USER}"
  ADMIN_PASSWORD: "${DEFAULT_PWD}"

  # use Sonic for fast full-text search
  SEARCH_BACKEND_ENGINE: "sonic"
  SEARCH_BACKEND_HOST_NAME: "sonic"
  SEARCH_BACKEND_PASSWORD: "${DEFAULT_PWD}"
