# yamllint disable
apiVersion: v1
kind: Secret
metadata:
    name: weave-gitops-secret
    namespace: flux-system
    annotations:
        reloader.stakater.com/match: "true"
type: Opaque
stringData:
    adminPassword: "${SECRET_DEFAULT_PWD}"
