---
apiVersion: v1
kind: Secret
metadata:
  name: cluster-example-app-user
  namespace: cnpg-system
type: opaque
stringData:
  password: password
  username: app
---
apiVersion: v1
kind: Secret
metadata:
  name: cluster-example-superuser
  namespace: cnpg-system
type: opaque
stringData:
  password: password
  username: postgres
