---
# yamllint disable
apiVersion: v1
kind: Secret
metadata:
  name: vaultwarden-secret
  namespace: vaultwarden
stringData:
  ADMIN_TOKEN: "${SECRET_VAULTWARDEN_TOKEN}"
  DATABASE_URL: "postgresql://vaultwarden:${SECRET_DB_USER_PWD}@vaultwarden-cnpg-rw.vaultwarden.svc:5432/vaultwarden"
  SMTP_USERNAME: "${SECRET_SMTP_USER}"
  SMTP_PASSWORD: "${SECRET_SMTP_PWD}"
