---
# yamllint disable
apiVersion: v1
kind: Secret
metadata:
  name: vaultwarden-secret
  namespace: vaultwarden
stringData:
  ADMIN_TOKEN: "${SECRET_VAULTWARDEN_TOKEN}"
  SMTP_USERNAME: "${SECRET_SMTP_USER}"
  SMTP_PASSWORD: "${SECRET_SMTP_PWD}"
