---
apiVersion: v1
kind: Secret
metadata:
    name: bitwarden-credentials
    namespace: external-secrets
    annotations:
        kustomize.toolkit.fluxcd.io/substitute: disabled
        reloader.stakater.com/match: "true"
stringData:
    token: "${BWS_ACCESS_TOKEN}"
