---
# yamllint disable
apiVersion: v1
kind: Secret
metadata:
  name: redis-secret
  namespace: default
  annotations:
    reloader.stakater.com/match: "true"
type: Opaque
stringData:
  password: "${SECRET_DB_USER_PWD}"
