# yamllint disable
apiVersion: v1
kind: Secret
metadata:
    name: weave-gitops-secret
    namespace: flux-system
    annotations:
        reloader.stakater.com/match: "true"
type: Opaque
stringData:
    # hash with bcrypt: `echo -n "$SECRET_DEFAULT_PWD" | gitops get bcrypt-hash`
    adminPassword: ${SECRET_DEFAULT_PWD_BCRYPT}
