---
# yamllint disable
apiVersion: v1
kind: Secret
metadata:
  name: traefik-basicauth-secret
  namespace: networking
  annotations:
    reloader.stakater.com/match: "true"
type: kubernetes.io/basic-auth
stringData:
  username: ${SECRET_ADMIN_USER}
  password: ${SECRET_DEFAULT_PWD}
