# yamllint disable
apiVersion: v1
kind: Secret
metadata:
    name: mealie-env-secret
    namespace: services
    annotations:
        reloader.stakater.com/match: "true"
type: Opaque
stringData:
    DEFAULT_EMAIL: "${SECRET_ADMIN_EMAIL}"
    DEFAULT_PASSWORD: "${SECRET_DEFAULT_PWD}"
    TOKEN_TIME: "24" # hours
    AUTO_BACKUP_ENABLED: "true"
    ALLOW_SIGNUP: "false"
    ### db settings
    DB_ENGINE: "sqlite"
    # DB_ENGINE: "postgres"
    # POSTGRES_SERVER: "mealie-cnpgdb-rw.postgres.svc.cluster.local"
    # POSTGRES_PORT: "5432"
    # POSTGRES_DB: "mealie"
    # POSTGRES_USER: "mealie"
    # POSTGRES_PASSWORD: "${SECRET_DB_USER_PWD}"
    ### email settings
    SMTP_HOST: "${SECRET_SMTP_SRV}"
    SMTP_PORT: "${SECRET_SMTP_PORT}"
    SMTP_USER: "${SECRET_SMTP_USER}"
    SMTP_PASSWORD: "${SECRET_SMTP_PWD}"
    SMTP_AUTH_STRATEGY: "TLS"
    SMTP_FROM_NAME: "mealie"
    SMTP_FROM_EMAIL: "${SECRET_SMTP_ADDRESS}"
