# yamllint disable
kind: Secret
apiVersion: v1
type: Opaque
metadata:
  name: letsblockit-secret
  namespace: default
  annotations:
    reloader.stakater.com/match: "true"
stringData:
  LD_SUPERUSER_NAME: ${SECRET_ADMIN_USER}
  LD_SUPERUSER_PASSWORD: ${SECRET_DEFAULT_PWD}
