---
apiVersion: v1
kind: Secret
metadata:
  name: postgresql-infrastructure-roles
  namespace: postgres
type: Opaque
data:
  # look for other role fields in the infrastructure roles configmap
  postgres: "${SECRET_DB_ROOT_PWD}"

---
apiVersion: v1
kind: ConfigMap
metadata:
  # The ConfigMap must have the same name as the secret that defines the infrastructure roles
  name: postgresql-infrastructure-roles
  namespace: postgres
data:
  # map users to role fields
  postgres: |
    inrole: [superuser, admin]  # following roles will be assigned to the new user
    user_flags:
      - createdb
    db_parameters:  # db parameters, applyed for this particular user
      log_statement: all
