# yamllint disable
apiVersion: v1
kind: Secret
metadata:
    name: prometheus-addl-scrape-configs
    namespace: monitoring
    annotations:
        reloader.stakater.com/match: "true"
stringData:
    additionalScrapeConfigs: |
        # run `mc admin prometheus generate truenas`
        - job_name: truenas-minio
          bearer_token: ''
          metrics_path: /minio/v2/metrics/cluster
          scheme: https
          static_configs:
            - targets:
                - "truenas.ninerealmlabs.com:9000"
