# yamllint disable
apiVersion: v1
kind: Secret
metadata:
    name: prometheus-additional-scrape-configs
    namespace: monitoring
    annotations:
        reloader.stakater.com/match: "true"
stringData:
    additionalScrapeConfigs: |
      - job_name: node-exporter
        honor_timestamps: true
        static_configs:
          - targets:
              - opnsense.${SECRET_DOMAIN}:9100
      - job_name: nut-exporter
        honor_timestamps: true
        static_configs:
          # - targets: ["10.2.0.1:3493"]
          - nut-exporter.monitoring.svc.cluster.local:9199
            labels:
              ups: "PR1500RT2U"
        ### use default params set in nut-exporter deployment
        # params:
        #   ups: ["PR1500RT2U"]
        #   server: ["10.2.0.1"]
        #   username: "monuser"
        #   password: ${SECRET_DEFAULT_PWD}
      # - job_name: graphite-exporter # truenas
      #   scrape_interval: 1m
      #   metrics_path: /metrics
      #   static_configs:
      #     - targets:
      #         - graphite-exporter.monitoring.svc.cluster.local:9108
      # run `mc admin prometheus generate truenas`
      - job_name: truenas-minio
        bearer_token: ${SECRET_PROMETHEUS_BEARER_TOKEN}
        metrics_path: /minio/v2/metrics/cluster
        scheme: https
        static_configs:
          - targets:
              - "${SECRET_S3_ENDPOINT}"
