---
apiVersion: v1
kind: Secret
metadata:
  # use secret_template format: "{username}.{cluster-name}.credentials.zalando"
  name: postgres.example-postgres.credentials.zalando
  namespace: postgres
  labels:
    application: spilo
    cluster-name: example-postgres
    team: example
type: Opaque
stringData:
  # look for other role fields in the infrastructure roles configmap
  username: postgres
  password: >-
    "${SECRET_DB_ROOT_PWD}"
