---
# yamllint disable
apiVersion: v1
kind: Secret
metadata:
    name: cluster-secrets
    namespace: flux-system
stringData:
    SECRET_ACME_EMAIL: "${CLOUDFLARE_EMAIL}"
    SECRET_CLOUDFLARE_TUNNEL_ID: "${CLOUDFLARE_TUNNELID}"
    SECRET_DOMAIN: "${DOMAIN}"
