---
# yamllint disable
apiVersion: v1
kind: Secret
metadata:
  name: custom-secrets
  namespace: flux-system
  annotations:
    reloader.stakater.com/match: "true"
stringData:
  ### email notifications
  SECRET_DEFAULT_EMAIL: "${DEFAULT_EMAIL}"
  # SECRET_SMTP_USER: "..."  # provide as app secret
  # SECRET_SMTP_PWD: "..."  # provide as app secret
  SECRET_SMTP_ADDRESS: "${SMTP_ADDRESS}"
  SECRET_SMTP_SRV: "${SMTP_SRV}"
  SECRET_SMTP_PORT: "${SMTP_PORT}"
  ### s3 / minio
  SECRET_S3_ENDPOINT: "${S3_ENDPOINT}"
