# yamllint disable
apiVersion: v1
kind: Secret
metadata:
    name: hoarder
    annotations:
        reloader.stakater.com/match: "true"
type: Opaque
stringData:
    NEXTAUTH_SECRET: "${HOARDER_ENCRYPTION_KEY}"
    MEILI_MASTER_KEY: "${HOARDER_MELISEARCH_KEY}"
    OPENAI_API_KEY: "${HOARDER_OPENAI_API_KEY}"
    INFERENCE_TEXT_MODEL: gpt-4o-mini
    EMBEDDING_TEXT_MODEL: text-embedding-3-small
    INFERENCE_CONTEXT_LENGTH: 8192
