# yamllint disable
apiVersion: v1
kind: Secret
metadata:
  name: mlflow-gateway
  annotations:
    reloader.stakater.com/match: "true"
type: Opaque
stringData:
  config.yaml: |
    ---
    endpoints:

      ### Anthropic
      - name: claude-sonnet-4-20250514
        endpoint_type: llm/v1/chat
        model:
          provider: anthropic
          name: claude-sonnet-4-20250514
          config:
            anthropic_api_key: ${ANTHROPIC_API_KEY}
        limit:
          renewal_period: minute
          calls: 30
      - name: claude-3-5-haiku-20241022
        endpoint_type: llm/v1/chat
        model:
          provider: anthropic
          name: claude-3-5-haiku-20241022
          config:
            anthropic_api_key: ${ANTHROPIC_API_KEY}
        limit:
          renewal_period: minute
          calls: 30

      ### OpenAI
      - name: gpt-4.1-2025-04-14
        endpoint_type: llm/v1/chat
        model:
          provider: openai
          name: gpt-4.1-2025-04-14
          config:
            openai_api_key: ${OPENAI_API_KEY}
        limit:
          renewal_period: minute
          calls: 30
      - name: gpt-4.1-mini-2025-04-14
        endpoint_type: llm/v1/chat
        model:
          provider: openai
          name: gpt-4.1-mini-2025-04-14
          config:
            openai_api_key: ${OPENAI_API_KEY}
        limit:
          renewal_period: minute
          calls: 30
      - name: o4-mini-2025-04-16
        endpoint_type: llm/v1/chat
        model:
          provider: openai
          name: o4-mini-2025-04-16
          config:
            openai_api_key: ${OPENAI_API_KEY}
        limit:
          renewal_period: minute
          calls: 30
      - name: text-embedding-3-small
        endpoint_type: llm/v1/embeddings
        model:
          provider: openai
          name: text-embedding-3-small
          config:
            openai_api_key: ${OPENAI_API_KEY}
