# yamllint disable
apiVersion: v1
kind: Secret
metadata:
  name: mlflow-gateway
  annotations:
    reloader.stakater.com/match: "true"
type: Opaque
stringData:
  ANTHROPIC_API_KEY: "${ANTHROPIC_API_KEY}"
  OPENAI_API_KEY: "${OPENAI_API_KEY}"
  LOCAL_API_KEY: "${LOCAL_API_KEY}"
  TOGETHER_API_KEY: "${TOGETHER_API_KEY}"
