# yamllint disable
kind: Secret
apiVersion: v1
type: Opaque
metadata:
  name: elasticsearch
  namespace: default
  annotations:
    reloader.stakater.com/match: "true"
stringData:
  ELASTIC_PASSWORD: ${DEFAULT_PWD}
