---
# yamllint disable
apiVersion: v1
kind: Secret
metadata:
  name: baikal-msmtp-secret
  namespace: services
stringData:
  msmtprc: |
    defaults
    auth           on
    tls            on
    tls_starttls   on
    account        default
    host           in-v3.mailjet.com
    port           587
    from           "${SECRET_SMTP_ADDRESS}"
    user           "${SECRET_SMTP_USER}"
    password       "${SECRET_SMTP_PWD}"
