---
# yamllint disable
apiVersion: v1
kind: Secret
metadata:
  name: pgadmin
  namespace: default
  annotations:
    reloader.stakater.com/match: "true"
stringData:
  # email: admin@${SECRET_DOMAIN}
  password: ${DEFAULT_PWD}
  servers.json: |
    {
      "Servers": {
        "default": {
          "Group": "Servers",
          "Name": "default",
          "MaintenanceDB": "postgres",
          "Host": "postgres-rw.database.svc.cluster.local",
          "Port": 5432,
          "SSLMode": "prefer",
          "Username": "postgres"
        },
        "datasci": {
          "Group": "Servers",
          "Name": "datasci",
          "MaintenanceDB": "postgres",
          "Host": "datasci-rw.database.svc.cluster.local",
          "Port": 5432,
          "SSLMode": "prefer",
          "Username": "postgres"
        }
      }
    }
