# yamllint disable
apiVersion: v1
kind: Secret
metadata:
    name: homebox
    namespace: default
    annotations:
        reloader.stakater.com/match: "true"
type: Opaque
stringData:
    HBOX_MODE: "production"
    HBOX_OPTIONS_ALLOW_REGISTRATION: "true"
    ### email settings
    HBOX_MAILER_HOST: "${SECRET_SMTP_SRV}"
    HBOX_MAILER_PORT: "${SECRET_SMTP_PORT}"
    HBOX_MAILER_USERNAME: "${SECRET_SMTP_USER}"
    HBOX_MAILER_PASSWORD: "${SECRET_SMTP_PWD}"
    # SMTP_AUTH_STRATEGY: "TLS"
    # SMTP_FROM_NAME: "homebox"
    HBOX_MAILER_FROM: "${SECRET_SMTP_ADDRESS}"
