---
# yamllint disable
apiVersion: v1
kind: Secret
metadata:
  name: linkace-user-secret
  namespace: postgres
  annotations:
    reloader.stakater.com/match: "true"
type: Opaque
stringData:
  password: "${SECRET_DB_USER_PWD}"
  username: linkace
