---
# yamllint disable
apiVersion: v1
kind: Secret
metadata:
  name: pgadmin-secret
  namespace: default
  annotations:
    reloader.stakater.com/match: "true"
stringData:
  # email: admin@${SECRET_DOMAIN}
  password: ${SECRET_DEFAULT_PWD}
  servers.json: |
    {
      "Servers": {
        "cnpgdb": {
          "Group": "Servers",
          "Name": "postgres",
          "MaintenanceDB": "postgres",
          "Host": "postgres-rw.default.svc.cluster.local",
          "Port": 5432,
          "SSLMode": "prefer",
          "Username": "postgres"
        }
      }
    }
