---
apiVersion: v1
kind: Secret
metadata:
  name: datasci-postgres-operator
  namespace: datasci
  annotations:
    reloader.stakater.com/match: "true"
type: Opaque
stringData:
  POSTGRES_HOST: "datasci-rw.datasci.svc.cluster.local"
  POSTGRES_USER: "postgres"
  POSTGRES_PASS: "${DB_ROOT_PWD}"
  POSTGRES_DEFAULT_DATABASE: "postgres"
  POSTGRES_URI_ARGS: ""
  POSTGRES_CLOUD_PROVIDER: ""
  # values.yaml: |
  #   # Define connection to postgres database server
  #   postgres:
  #     # postgres hostname
  #     host: "datasci-rw.datasci.svc.cluster.local"
  #     # postgres admin user and password
  #     user: "postgres"
  #     password: "${DB_ROOT_PWD}"
  #     # additional connection args to pg driver
  #     uri_args: ""
  #     # postgres cloud provider, could be AWS, Azure, GCP or empty (default)
  #     cloud_provider: ""
  #     # default database to use
  #     default_database: "postgres"
