# yamllint disable
apiVersion: v1
kind: Secret
metadata:
    name: thanos
    namespace: monitoring
    annotations:
        reloader.stakater.com/match: "true"
stringData:
  AWS_ACCESS_KEY_ID: ${SECRET_S3_ENDPOINT}
  AWS_SECRET_ACCESS_KEY: ${SECRET_S3_SECRET_KEY}
