---
apiVersion: v1
kind: Secret
metadata:
  name: cloudflared-credentials
  namespace: networking
stringData:
  TUNNEL_ID: "${CLOUDFLARE_TUNNELID}"
  credentials.json: |
    {
      "AccountTag": "${CLOUDFLARE_ACCOUNT}",
      "TunnelSecret": "${CLOUDFLARE_TUNNEL_SECRET}",
      "TunnelID": "${CLOUDFLARE_TUNNELID}"
    }
