# yamllint disable
apiVersion: v1
kind: Secret
metadata:
    name: mealie
    namespace: default
    annotations:
        reloader.stakater.com/match: "true"
type: Opaque
stringData:
    DEFAULT_EMAIL: "${ADMIN_EMAIL}"
    DEFAULT_PASSWORD: "${DEFAULT_PWD}"
    TOKEN_TIME: "24" # hours
    AUTO_BACKUP_ENABLED: "true"
    ALLOW_SIGNUP: "false"
    ### email settings
    SMTP_HOST: "${SMTP_SRV}"
    SMTP_PORT: "${SMTP_PORT}"
    SMTP_USER: "${SMTP_USER}"
    SMTP_PASSWORD: "${SMTP_PWD}"
    SMTP_AUTH_STRATEGY: "TLS"
    SMTP_FROM_NAME: "mealie"
    SMTP_FROM_EMAIL: "${SMTP_ADDRESS}"
