---
# yamllint disable
apiVersion: v1
kind: Secret
metadata:
  name: homepage
  namespace: default
  annotations:
    reloader.stakater.com/match: "true"
stringData:
  HOMEPAGE_VAR_ADMIN_USER: "${ADMIN_USER}"
  HOMEPAGE_VAR_DEFAULT_PWD: "${DEFAULT_PWD}"
  HOMEPAGE_VAR_CLOUDFLARED_ACCOUNT: "${CLOUDFLARE_ACCOUNT}"
  HOMEPAGE_VAR_CLOUDFLARED_TUNNEL: "${CLOUDFLARE_TUNNELID}"
  HOMEPAGE_VAR_CLOUDFLARED_TOKEN: "${CLOUDFLARE_TOKEN}"
  HOMEPAGE_VAR_TRUENAS_IP: "${TRUENAS_IP}"
  HOMEPAGE_VAR_TRUENAS_KEY: "${TRUENAS_APIKEY}"
  HOMEPAGE_VAR_LATITUDE: "${LATITUDE}"
  HOMEPAGE_VAR_LONGITUDE: "${LONGITUDE}"
