---
# yamllint disable
apiVersion: v1
kind: Secret
metadata:
  name: jupyterhub-user-secret
  namespace: postgres
  annotations:
    reloader.stakater.com/match: "true"
type: Opaque
stringData:
  db: |
    type: postgres
    # url format: postgresql+psycopg2://<db-username>:<db-password>@<db-hostname>:<db-port>/<db-name>
    url: "postgresql+psycopg2://jupyterhub:${SECRET_DB_USER_PWD}@jupyterhub-cnpgdb-rw.postgres.svc.cluster.local:5432/jupyterhub"

  config: |
    Authenticator:
      admin_users:
        - ${SECRET_ADMIN_USER}
      allowed_users:
        - ${SECRET_DEFAULT_USER}
    JupyterHub:
      authenticator_class: dummy
    DummyAuthenticator:
      password: ${SECRET_DEFAULT_PWD}
    # JupyterHub:
    #   authenticator_class: generic-oauth
    # GenericOAuthenticator:
    #   client_id: ${JHUB_OAUTH_CLIENT_ID}
    #   client_secret: ${JHUB_OAUTH_CLIENT_SECRET}
    #   oauth_callback_url: "https://jhub.${XYZ_DOMAIN}/hub/oauth_callback"
    #   authorize_url: "https://auth.${XYZ_DOMAIN}/application/o/authorize/"
    #   token_url: "https://auth.${XYZ_DOMAIN}/application/o/token/"
    #   userdata_url: "https://auth.${XYZ_DOMAIN}/application/o/userinfo/"
    #   scope:
    #     - openid
    #     - profile
    #     - email
    #   username_key: preferred_username
