---
# yamllint disable
apiVersion: v1
kind: Secret
metadata:
  name: valheim-secret
  namespace: services
  annotations:
    reloader.stakater.com/match: "true"
stringData:
  # valheim server secrets
  WORLD_NAME: dieweldistalles
  SERVER_NAME: valheim
  SERVER_PASS: changeme
  ADMINLIST_IDS: ""
  PERMITTEDLIST_IDS: ""
  # supervisor secrets
  SUPERVISOR_HTTP: true
  SUPERVISOR_HTTP_PASS: ${SECRET_DEFAULT_PASSWORD}
  SUPERVISOR_HTTP_USER: ${SECRET_ADMIN_USER}
