---
# yamllint disable
apiVersion: v1
kind: Secret
metadata:
  name: postgres-superuser-secret
  namespace: default
  annotations:
    reloader.stakater.com/match: "true"
stringData:
  username: postgres
  password: ${SECRET_DB_ROOT_PWD}
