---
# yamllint disable
apiVersion: v1
kind: Secret
metadata:
  name: postgres-superuser-secret
  namespace: default
  annotations:
    reloader.stakater.com/match: "true"
stringData:
  username: postgres
  password: ${SECRET_DB_ROOT_PWD}
---
# yamllint disable
apiVersion: v1
kind: Secret
metadata:
  name: postgres-s3-secret
  namespace: default
type: Opaque
stringData:
  S3_ACCESS_KEY: ${SECRET_S3_ACCESS_KEY}
  S3_SECRET_KEY: ${SECRET_S3_SECRET_KEY}
