---
apiVersion: v1
kind: Secret
metadata:
    name: lldap
    namespace: security
    annotations:
        reloader.stakater.com/match: "true"
stringData:
    LLDAP_JWT_SECRET: ""
    LLDAP_KEY_SEED: ""
    LLDAP_LDAP_USER_PASS: ""
    LLDAP_LDAP_USER_DN: ""
    # LLDAP_LDAP_USER_EMAIL: "" # Email for the admin account; only used when creating the admin user & can be omitted.
    # notification smtp settings
    LLDAP_SMTP_OPTIONS__ENABLE_PASSWORD_RESET: true
    LLDAP_SMTP_OPTIONS__SERVER: ""
    LLDAP_SMTP_OPTIONS__PORT: ""
    LLDAP_SMTP_OPTIONS__SMTP_ENCRYPTION: "TLS"
    LLDAP_SMTP_OPTIONS__USER: ""
    LLDAP_SMTP_OPTIONS__PASSWORD: ""
    LLDAP_SMTP_OPTIONS__FROM: ""
