---
# yamllint disable
apiVersion: v1
kind: Secret
metadata:
  name: calibre-web-automated
  namespace: default
  annotations:
    reloader.stakater.com/match: "true"
stringData:
  HARDCOVER_TOKEN: ""
