# yamllint disable
apiVersion: v1
kind: Secret
metadata:
    name: garage
    annotations:
        reloader.stakater.com/match: "true"
type: Opaque
stringData:
    GARAGE_RPC_SECRET: ""
    GARAGE_ADMIN_TOKEN: ""
    GARAGE_METRICS_TOKEN: ""
