---
# yamllint disable
apiVersion: v1
kind: Secret
metadata:
  name: prefect-server
  namespace: datasci
  annotations:
    reloader.stakater.com/match: "true"
stringData:
  PREFECT_API_DATABASE_CONNECTION_URL="postgresql+asyncpg://postgres:yourTopSecretPassword@localhost:5432/prefect"
  PREFECT_API_DATABASE_ECHO='False'
  PREFECT_API_DATABASE_MIGRATE_ON_START='True'
  PREFECT_API_DATABASE_PASSWORD='None'
